.usecase-head{
    padding-bottom: 20px;
    font-size: 64px;
    line-height: 51px;
    letter-spacing: 0.025em;
    font-weight: 600;
}

.useCase-grid{
    display: grid;
    grid-template-columns: repeat(6,auto);
}