.trade{
    margin-top: 5rem;
    margin-bottom: 6rem;
}
.trade-text-box{
    margin-top: 80px;
}
.trade-text-box h3{
    color: #28a9a3  ;
    font-size: 24px  ;
    font-weight: 600  ;
    margin-bottom: 10px  ;
}

.trade-text-box h2{
    font-size: 40px;
    font-size: 600;
    margin-bottom: 30px;
}
.trade-text-box p{
    color: #9B97B3  ;
    font-size: 30px  ;
    width: 95%;
    line-height: 1.65;
}





.onboard{
    margin-top: 9rem;
    margin-bottom: 3rem;
}

.onboard-head{
    text-align: center;
}
.onboard-head h1{
    font-size: 80px ;
    font-weight: 600 ;
    line-height: 1.2 ;
    width: 90% ;
    margin-left: auto ;
    margin-right: auto ;
    margin-top: 30px ;
    text-transform: capitalize;
}
.onboard-head p{
    color: #9B97B3  ;
    line-height: 1.7  ;
    font-size: 24px  ;
    width: 50%  ;
    margin-top: 20px  ;
    margin-left: auto  ;
    margin-right: auto  ;
    font-weight: 300;
}

/* wishlist */
.wishlist{
    background-color: #e7fde2;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.form-box{
    margin: auto;
    width: 60%;

}
.form-box form {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid;
    /* padding: 1%; */
    padding-left: 3px;
    padding-bottom: 1rem;
}
.form-box form button {
    padding: 8px 32px;
    border-radius: 20px;
}

.form-box form input {
    background-color: transparent;
    border: none;
}

@media (max-width:768px) {
    .trade {
        margin-top: 1rem;
        margin-bottom: 6rem;
    }
    .trade-text-box{
        text-align: center;
    }

    .trade-text-box p {
        color: #9B97B3;
        font-size: 19px;
        width: 95%;
        line-height: 1.65;
    }

    .im-1{
        width: 100%;
        height: 100%;
    }

    .onboard-head h1 {
        font-size: 48px;
        font-weight: 600;
        line-height: 1.2;
        width: 100%;
     
        margin-top: 10px;
       
    }

    .onboard-head p {
        color: #9B97B3;
        line-height: 1.5;
        font-size: 22px;
        width: 100%;
        margin-top: 20px;
      
    }
    
}