.trade{
    margin-top: 5rem;
    margin-bottom: 3rem;
}
.trade-text-box{
    margin-top: 80px;
}
.trade-text-box h3{
    color: #28a9a3  ;
    font-size: 24px  ;
    font-weight: 600  ;
    margin-bottom: 10px  ;
}

.trade-text-box h2{
    font-size: 40px;
    font-size: 600;
    margin-bottom: 30px;
}
.trade-text-box p{
    color: #9B97B3  ;
    font-size: 30px  ;
    width: 95%;
    line-height: 1.65;
}





.onboard{
    margin-top: 9rem;
    margin-bottom: 3rem;
}

.onboard-head{
    text-align: center;
}
.onboard-head h1{
    font-size: 80px ;
    font-weight: 600 ;
    line-height: 1.2 ;
    width: 90% ;
    margin-left: auto ;
    margin-right: auto ;
    margin-top: 30px ;
    text-transform: capitalize;
}
.onboard-head p{
    color: #9B97B3  ;
    line-height: 1.7  ;
    font-size: 24px  ;
    width: 50%  ;
    margin-top: 20px  ;
    margin-left: auto  ;
    margin-right: auto  ;
    font-weight: 300;
}